.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar img {
    width: 150px;
  }

.mdc-tab__text-label{
  font-size: 1em;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #212529 !important;
} 

.fondo-rutina {
    height: 100vh;
    background-color: #ffd740 !important;
  }
