<div *ngIf="infoUsuario != null" class="fondo-perfil pt-5">
  <div class="contenedor-perfil mt-4">
    <div class="contenedor-img-perfil">
      <img [src]="img">
    </div>
    <div class="contenido-perfil">
      <div class="detalles gap-3">
        <h2 class="card-title fs-4 mb-1 ">{{infoUsuario.name}}</h2>
        <p class="card-text fs-6 mb-1 " >Sexo: {{infoUsuario.sex}}</p>
        <p class="card-text fs-6 mb-3">Edad: {{infoUsuario.age}} años</p>
        <div class="h-50 bg-dark text-white align-middle p-2 mb-2 border-bottom">Altura: {{infoUsuario.height}} M</div>
        <div class="h-50 bg-warning text-dark align-middle mb-2 p-2">PESO: {{infoUsuario.weight}} Kg</div>
        <div class="h-50 bg-dark text-white align-middle p-2 -2 border-bottom">IMC: 22</div>
        <button class="mt-3 " (click)="EditUsuario(infoUsuario)" mat-raised-button color="accent"><mat-icon>edit</mat-icon>Actualizar  perfil</button>

      </div>
    </div>
  </div>
</div>
