@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);
@import url(//db.onlinewebfonts.com/c/e91a5bc5cc14152657a36e9549621ad2?family=DISPLAYED);

:root {
  --primary-color: #ffc107;
  --secondary-color: #ffd740;
  --alpha-color: #673ab7;
  --bg-first: #212529;
  --bg-second: #303030;
  --bg-third: #ffffff;
  --text-white: #ffffff;
  --border-color: #303030;
  --form-error-color: #2ef8a0;
  --font: "Acumin Variable Concept", sans-serif;
  --font-displayed: "DISPLAYED", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font);
}
