
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.tarjetas-ejercicios h3,h4 {
  
  font-family: 'Comfortaa';
  font-weight: 500;
  
}

.tarjetas-ejercicios h3 {
  text-transform: uppercase;

}
.mat-expansion-panel {
  background-color: #FFC107;
}



.card-header{
  background-color: #303030;
  color: #fff;
}

.card {
  margin-left: -1em;
  margin-right: -1em;
}

.acordion-cabecera {
  background-color: #303030;
  color: #fff !important;
  font-family: 'Comfortaa';  
  font-size: 1.2em;
  text-transform: uppercase;
  border: 1px solid #FFC107;
  
}


.acordion-cabecera:hover {
  background-color: #303030 !important;
  
}

.acordion-cabecera:focus {
  background-color: #303030 !important;
  
}


.acordion-cabecera:active {
  background-color: #303030 !important;
}
