<mat-accordion  > 
  <mat-expansion-panel   *ngFor="let rutina of rutinasLista">
    <mat-expansion-panel-header class="acordion-cabecera">
      {{rutina.title}}      
    </mat-expansion-panel-header>  
    <div class="tarjetas-ejercicios">
      <div class="card  mb-4 mt-3" *ngFor="let ejercicio of rutina.exercises">
        <div class="card-header ps-3 p-1">
        <h3 class="m-0">{{ejercicio.title}}</h3> 
        <div class="d-flex justify-content">
          <h4 class="mb-0 me-3 " > 
            Series: {{ejercicio.numeroSeries}}  X {{ejercicio.repetitions}}           
           </h4> |
           <h4 class="mb-0 ms-3">{{ejercicio.type}} {{ejercicio.quantity}} {{ejercicio.unit}}</h4>   
        </div>
        
        </div>
        <div class="card-body p-0 ">
          <h5 class="card-title mb-0 ">      
          
          </h5>
          <mat-checkbox *ngFor="let check of ejercicio.series" class="example-margin"></mat-checkbox>      
          
        </div>
      </div>
    </div> 
  </mat-expansion-panel>
</mat-accordion>




